{% extends '@News/Layout/layout.html.twig' %}

{% block title %} {{ 'News'|trans }} {% endblock %}

{% block body %}
    <link rel="stylesheet" href=" {{ asset('builds/js/blogs.css') }}" type="text/css" media="screen">
    <div class="container">
        <section class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <div id="news"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}     