{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        {#<title>Email</title>#}
        <style type="text/css" media="screen">
            a{ text-decoration: none; color:#cc0000 }
            body{ padding:0 !important; margin:0 !important; display:block !important; background:#f1f1f1; font-family:Verdana, Geneva, sans-serif;}
        </style>
    </head>
    <body style="padding:0; margin:0; background:#f1f1f1;">
        <table width="100%" border="0" cellspacing="0" cellpadding="20" bgcolor="#f1f1f1" align="center">
            <tr>
                <td align="center" valign="top">
                    <table align="center" width="670px">
                        <tr>
                            <td>

                                <div style="-moz-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0; width:670px; min-height:50px; border:0px solid #000; background-color:#555;">
                                    <div style="height:50px; width:100%;">
                                        <div style="width:70%; float:left; text-align:left; height:50px; font-size:20px; font-weight:bold;">
                                            <div style="display:table; height: 100%; width: 100%;">
                                                <div style="display:table-cell; vertical-align: middle;">
                                                    <div style="padding-left:10px; width:100%; color:#FFF; margin-left: auto; margin-right: auto;">{% block title %}news.com{% endblock %}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div style="width:30%; float:right; text-align:right; height:50px;">
                                            <div style="display:table; height: 100%; width: 100%;">
                                                <div style="display:table-cell; vertical-align: middle;">
                                                    <div style="font-size:12px; color:#CCC; padding-right:10px;">{{ "now"|date("d M Y") }}</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div style="background-color:#FFF; width:670px; padding-top:1px; padding-bottom:1px; -moz-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px;">
                                    <div style="-moz-border-radius: 10px; border-radius: 10px; margin:10px 10px; border:0px solid #888; width:650px;">
                                        <div style="padding:10px 10px; text-align:left; font-size:13px;">
                                            {% block body %}{% endblock %}
                                        </div>
                                    </div>
                                </div>
                                <div style="height:20px; width:670px;"></div>
                                <div style="-moz-border-radius:10px 10px 10px 10px; border-radius:10px 10px 10px 10px; width:670px; min-height:60px; border:0px solid #000; background-color:#fff;">
                                    <div style="height:60px; width:100%;">
                                        <div style="width:100%; float:left; text-align:left; height:60px; font-size:24px;">
                                            <div style="display:table; height: 100%; width: 100%;">
                                                <div style="display:table-cell; vertical-align: middle;">
                                                    <div style="font-size:9px; color:#999; margin-left:10px; margin-right:10px;">
       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
{% endspaceless %}